<div *ngIf="hero">
  <h2>{{hero.name | uppercase}} Details</h2>
  <div><span>uuid: </span>{{hero.uuid}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="hero.name" placeholder="name"/>
    </label>
  </div>
</div>
