<h2>Hospitals</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
      [class.selected]="hero === selectedHero"
      (click)="onSelect(hero)">
    <span class="badge">{{hero.uuid}}</span> {{hero.name}} <span style="font-weight: bold; color: pink"> {{hero.address}} </span>

  </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
